aiogram==3.8.0
aiogram-dialog==2.1.0
Babel # интерналтизация по парадигме gettext
aiohttp[speedups]==3.9.5 # for windows use this instead
aiodns
asyncio
aiosqlite
sqlalchemy
environs
redis
aioredis
requests
numpy


# httpx  # Async http client
# aiofiles  # Async work with files
# aioamqp  # Async work with AMQP
# aiocache  # Async work with cache system
# aiopath  # Async pathlib